In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('../swat_dataset_preprocessed').iloc[:,1:]
df

,Timestamp,FIT101,AIT201,AIT203,DPIT301,LIT301,AIT402,AIT503,AIT504,Normal/Attack
0,28/12/2015 10:00:00 AM,2.427057,262.0161,328.6337,19.74838,956.1651,156.0882,264.5475,12.03538,Normal
1,28/12/2015 10:00:01 AM,2.446274,262.0161,328.6337,19.74838,956.1651,156.0882,264.5475,12.03538,Normal
2,28/12/2015 10:00:02 AM,2.489191,262.0161,328.6337,19.69076,956.4855,156.0882,264.5475,12.03538,Normal
3,28/12/2015 10:00:03 AM,2.534350,262.0161,328.6337,19.69076,956.8060,156.0882,264.5475,12.03538,Normal
4,28/12/2015 10:00:04 AM,2.569260,262.0161,328.6337,19.69076,957.0864,156.0882,264.5475,12.03538,Normal
...,...,...,...,...,...,...,...,...,...,...
449914,2/1/2016 2:59:55 PM,2.559972,168.0979,301.9226,20.39823,974.5498,145.6037,257.1136,14.80390,Normal
449915,2/1/2016 2:59:56 PM,2.549082,168.0979,301.9226,20.39823,974.5898,145.6037,257.1136,14.80390,Normal
449916,2/1/2016 2:59:57 PM,2.531467,168.0979,301.9226,20.33101,974.2695,145.5524,257.1136,14.80390,Normal
449917,2/1/2016 2:59:58 PM,2.521218,168.0979,301.9226,20.29579,974.2294,145.5524,257.1136,14.80390,Normal
449918,2/1/2016 2:59:59 PM,2.501681,168.0979,301.9226,20.28619,974.4296,145.5524,257.1136,14.80390,Normal